$primary-color: #e5d0ac;
$secondary-color: #fef9e1;
$white-bg: #ffffff;
$black-bg: #000000;
$grey-1: rgb(192, 192, 192);
$grey-2: rgb(220, 220, 220);
$grey-3: rgb(234, 234, 234);
$text-color-1: #333;

body {
  margin: 0;
  background-color: $primary-color;
}
* {
  font-family: sans-serif;
  box-sizing: border-box;
  transition: all 0.5s;
  outline: none;
  letter-spacing: 0.4px;
}

.app {
  width: 100%;
  height: 600px;
}

input {
  padding: 8px 14px;
  border: 1px solid $grey-1;
  border-radius: 4px;
}

input[type="button"] {
  padding: 8px 14px;
  border: 1px solid $grey-2;
  border-radius: 4px;
}
.search-bar {
  padding: 8px 14px;
  border: 1px solid $grey-2;
  border-radius: 6px 0 0 6px;
  width: clamp(100px, 40%, 700px);
}

.navbar {
  width: 100%;
  height: 8vh;
  background-color: $white-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .center-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;

    .search-icon {
      background-color: $grey-3;
      border-radius: 0 6px 6px 0;
      height: 33px;
      width: 33px;
      display: grid;
      place-content: center;
    }
  }
  img {
    width: 50px;
  }

  .right-navigations {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
